priv/schema/geranNrm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	3GPP TS 28.656 GERAN NRM IRP
	Bulk CM Configuration data file NRM-specific XML schema
	geranNrm.xsd
-->
<schema
		xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:xn="http://www.3gpp.org/ftp/specs/archive/28_series/28.623#genericNrm"
		xmlns:gr="http://www.3gpp.org/ftp/specs/archive/28_series/28.663#genericRanNrm"
		xmlns:gn="http://www.3gpp.org/ftp/specs/archive/28_series/28.656#geranNrm"
		xmlns:un="http://www.3gpp.org/ftp/specs/archive/28_series/28.653#utranNrm"
		xmlns:en="http://www.3gpp.org/ftp/specs/archive/28_series/28.659#eutranNrm"
		xmlns:sp="http://www.3gpp.org/ftp/specs/archive/28_series/28.629#sonPolicyNrm"
		xmlns:sm="http://www.3gpp.org/ftp/specs/archive/28_series/28.626#stateManagementIRP"
		targetNamespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.656#geranNrm"
		elementFormDefault="qualified">

	<import namespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.623#genericNrm"
			schemaLocation="genericNrm.xsd" />
	<import namespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.663#genericRanNrm"
			schemaLocation="genericRanNrm.xsd" />
	<import namespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.653#utranNrm"
			schemaLocation="utranNrm.xsd" />
	<import namespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.659#eutranNrm"
			schemaLocation="eutranNrm.xsd" />
	<import namespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.629#sonPolicyNrm"
			schemaLocation="sonPolicyNrm.xsd" />
	<import namespace="http://www.3gpp.org/ftp/specs/archive/28_series/28.626#stateManagementIRP"
			schemaLocation="stateManagementIRP.xsd" />

	<simpleType name="isESCoveredByEnumType">
		<restriction base="string">
			<enumeration value="no"/>
			<enumeration value="partial"/>
			<enumeration value="yes"/>
		</restriction>
	</simpleType>

	<complexType name="MA">
		<sequence>
			<element name="rfSelected" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="HoppingSequence">
		<sequence>
			<element name="ma" type="gn:MA" minOccurs="0"/>
			<element name="hsn" type="short" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="HoppingSequenceList">
		<sequence>
			<element name="hoppingSequence" type="gn:HoppingSequence" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<!-- GERAN Network Resources IRP NRM class associated XML elements -->

	<element name="BssFunction" substitutionGroup="xn:ManagedElementOptionallyContainedNrmClass" >
		<complexType>
			<complexContent>
				<extension base="xn:NrmClass">
					<sequence>
						<element name="attributes" minOccurs="0">
							<complexType>
								<all>
									<element name="userLabel" type="string"/>
									<element name="vnfParametersList" type="xn:vnfParametersListType" minOccurs="0"/>
								</all>
							</complexType>
						</element>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="gn:BtsSiteMgr"/>
							<element ref="xn:VsDataContainer"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="BtsSiteMgr">
		<complexType>
			<complexContent>
				<extension base="xn:NrmClass">
					<sequence>
						<element name="attributes" minOccurs="0">
							<complexType>
								<all>
									<element name="userLabel" type="string"/>
									<element name="vnfParametersList" type="xn:vnfParametersListType" minOccurs="0"/>
									<element name="latitude" type="xn:latitude" minOccurs="0"/>
									<element name="longitude" type="xn:longitude" minOccurs="0"/>
									<element name="operationalState" type="sm:operationalStateType" minOccurs="0" />
								</all>
							</complexType>
						</element>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="gn:GsmCell"/>
							<element ref="xn:VsDataContainer"/>
						</choice>
						<choice minOccurs="0" maxOccurs="1">
							<element ref="sp:InterRatEsPolicies"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="GsmCell">
		<complexType>
			<complexContent>
				<extension base="xn:NrmClass">
					<sequence>
						<element name="attributes" minOccurs="0">
							<complexType>
								<all>
									<element name="userLabel" type="string"/>
									<element name="vnfParametersList" type="xn:vnfParametersListType" minOccurs="0"/>
									<element name="cellIdentity">
										<simpleType>
												<restriction base="integer">
													<minInclusive value="0"/>
													<maxInclusive value="65535"/>
												</restriction>
										</simpleType>
									</element>
									<element name="cellAllocation">
										<simpleType>
												<list itemType="integer"/>
										</simpleType>
									</element>
									<element name="ncc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="bcc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="lac">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="65533"/>
											</restriction>
										</simpleType>
									</element>
									<element name="mcc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
												<maxInclusive value="999"/>
											</restriction>
										</simpleType>
									</element>
									<element name="mnc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
												<maxInclusive value="999"/>
											</restriction>
										</simpleType>
									</element>
									<element name="rac" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="255"/>
											</restriction>
										</simpleType>
									</element>
									<element name="racc" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="tsc" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="rxLevAccessMin">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="63"/>
											</restriction>
										</simpleType>
									</element>
									<element name="msTxPwrMaxCCH">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="31"/>
											</restriction>
										</simpleType>
									</element>
									<element name="rfHoppingEnabled" type="boolean"/>
									<element name="hoppingSequenceList" type="gn:HoppingSequenceList"/>
									<element name="plmnPermitted">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="255"/>
											</restriction>
										</simpleType>
									</element>
								</all>
							</complexType>
						</element>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="gn:GsmRelation"/>
							<element ref="un:UtranRelation"/>
							<element ref="en:EUtranRelation"/>
							<element ref="xn:VsDataContainer"/>
							<element ref="gn:GsmCellOptionallyContainedNrmClass"/>
						</choice>
						<choice minOccurs="0" maxOccurs="1">
							<element ref="sp:InterRatEsPolicies"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="GsmRelation">
		<complexType>
			<complexContent>
				<extension base="xn:NrmClass">
					<sequence>
						<element name="attributes" minOccurs="0">
							<complexType>
								<all>
									<element name="adjacentCell" type="xn:dn"/>
									<element name="bcchFrequency" type="integer" minOccurs="0"/>
									<element name="ncc" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="bcc" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="lac" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
												<maxInclusive value="65533"/>
											</restriction>
										</simpleType>
									</element>
									<element name="isRemoveAllowed" type="boolean" minOccurs="0"/>
									<element name="isHOAllowed" type="boolean" minOccurs="0"/>
									<element name="isESCoveredBy" type="gn:isESCoveredByEnumType" minOccurs="0"/>
								</all>
							</complexType>
						</element>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="xn:VsDataContainer"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="ExternalGsmCell" substitutionGroup="xn:SubNetworkOptionallyContainedNrmClass" >
		<complexType>
			<complexContent>
				<extension base="xn:NrmClass">
					<sequence>
						<element name="attributes" minOccurs="0">
							<complexType>
								<all>
									<element name="userLabel" type="string"/>
									<element name="vnfParametersList" type="xn:vnfParametersListType" minOccurs="0"/>
									<element name="cellIdentity">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="65535"/>
											</restriction>
										</simpleType>
									</element>
									<element name="bcchFrequency" type="integer" />
									<element name="ncc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="bcc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
									<element name="lac">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
												<maxInclusive value="65533"/>
											</restriction>
										</simpleType>
									</element>
									<element name="mcc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
												<maxInclusive value="999"/>
											</restriction>
										</simpleType>
									</element>
									<element name="mnc">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="1"/>
												<maxInclusive value="999"/>
											</restriction>
										</simpleType>
									</element>
									<element name="rac" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="255"/>
											</restriction>
										</simpleType>
									</element>
									<element name="racc" minOccurs="0">
										<simpleType>
											<restriction base="integer">
												<minInclusive value="0"/>
												<maxInclusive value="7"/>
											</restriction>
										</simpleType>
									</element>
								</all>
							</complexType>
						</element> 
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="xn:VsDataContainer"/>
						</choice>
						<choice minOccurs="0" maxOccurs="1">
							<element ref="sp:InterRatEsPolicies"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="ExternalBssFunction" substitutionGroup="xn:SubNetworkOptionallyContainedNrmClass" >
		<complexType>
			<complexContent>
				<extension base="xn:NrmClass">
					<sequence>
						<element name="attributes" minOccurs="0">
							<complexType>
								<all>
									<element name="userLabel"/>
									<element name="vnfParametersList" type="xn:vnfParametersListType" minOccurs="0"/>
								</all>
							</complexType>
						</element>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element ref="gn:ExternalGsmCell"/>
							<element ref="xn:VsDataContainer"/>
						</choice>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

<element name="GsmCellOptionallyContainedNrmClass" type="xn:NrmClass" abstract="true"/>

</schema>
